.h1,h3{
    display: inline;
    margin-right:30px;
    font-size:25px;
    color: white;
}
.zagolovok{
    color: white;
    text-align: center;
}
.tablica{
    width: 100%; 
    background: black;
    color: white;
}
li{
    color: azure;
    padding: 2px;
    font-size:22px;
}
td,th {
    background:white;
    color: black;
    text-align: center;
    }
body{
    background-image: url(fon2.jpg)
}
h4 {
    color: white;
    font-size:22px;
}

a {
    color: white}